body{
    padding: 0%;
    margin: 0%;
    background-color: #f5f5f5;
    // overflow: hidden;
}
.body-active{
    // overflow: scroll;
}
h2{
    font-size: 3.7vw;
    font-family: 'Dela Gothic One', cursive;
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size:1.5vw;
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
}
a{
    margin: 0;
    padding: 0;
}
#header{
    position: fixed;
    height: 5vw;
    width: 100vw;
    z-index: 900;
    ul{
        position: absolute;
        display:flex;
        list-style: none;
        padding: 0;
        margin: 0;
        top: 60%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        li{
            font-family: 'Lobster Two', cursive;
            padding: 0 9vw;
            a{
                color: #101010;
                text-decoration: none;
                border-bottom: 1px solid black;
                padding-bottom: 0.2px;
                box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.5);
                letter-spacing: 0.2vw;
            }
        }
    }
    div{
        display: flex;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 60%;
        left: 90%;
        transform: translateY(-50%) translateX(-50%);
        p{
            padding: 0 1.5vw;
        }
    }
}
.top{
    position: relative;
    height: 100vh;
    width: 100%;
    margin-bottom: 8vw;
    .load {
        display: none;////////////////////////////////

        position: absolute;
        background-color: #D1131C;
        height: 100vh;
        width: 100%;
        z-index: 999;
        opacity: 1;
        .load-text{
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: #FFFFFF;
            text-align: center;
            opacity: 0;
            h1{
                font-size: 5.4vw;
                letter-spacing: 0.3vw;
                width: 90vw;
                padding-bottom: 13vw;
                margin: 0;
                font-family: 'Dela Gothic One', cursive;
            }
            p{
                font-size: 1.5vw;
                font-family: 'Noto Sans JP', sans-serif;
            }
        }
        .load-text-active{
            opacity: 1;
            transition: 1s;
        }
    }
    .load-active{
        opacity: 0;
        transition: 1s;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .topsp{
        display: none;
    }
    .top-text{
        width: 34vw;
        position: absolute;
        top: 58%;
        left: 75%;
        transform: translateY(-50%) translateX(-50%);
        text-align: center;
        color: #FFFFFF;
        h2{
            font-family: 'Kaisei Decol', serif;
            span{
                color: #EA862A;
            }
        }
        p{
            display: inline-block;
            width: 23vw;
        }
    }
}

#introduction{
    width: 100%;
    position: relative;
    .introduction-top-img-box{
        width: 100%;
        height: 27vw;
        text-align: center;
        margin: 0 0 5vw;
        img{
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .introduction-title{
        width: 53vw;
        height: 5vw;
        position: absolute;
        top: 26%;
        left: 47%;
        box-shadow: 0 0 10px 15px #f5f5f5;
        background-color: #f5f5f5;
        h2{
            text-align: center;
            letter-spacing: 0.5vw;
            span{
                color: #EA862A;
                letter-spacing: 0.5vw;
            }
        }
    }
    .introdction-icon{
        width: 10vw;
        height: 10vw;
        object-fit: contain;
        position: absolute;
        top: 35%;
        right: 10%;
    }
    .introduction-inner{
        width: 100%;
        padding: 0 6vw;
        position: relative;
        margin-bottom: 6vw;
    }
    .introduction-content{
        display: flex;
        height: 85%;
        .introduction-main-text-sp{
            display: none;
            font-family: 'Kaisei Decol', serif;
            span{
                color: #EA862A;
            }
        }
        .introduction-content-image{
            width: 50%;
            height: 52vw;
            img{
                width: 95%;
                height: 95%;
                object-fit: contain;
                transition: 0.3s;
            }
            & :hover{
                transition: 0.3s;
                width: 100%;
                height: 100%;
            }
        }
        .introduction-content-text{
            width: 50%;
            height: 52vw;
            text-align: center;
            padding: 4vw 6vw 2vw;
            .introduction-main-text{
                display: inline-block;
                width: 26vw;
                font-size: 2.5vw;
                font-family: 'Kaisei Decol', serif;
                height: 6vw;
                text-align: center;
                padding: 0;
                span{
                    color: #EA862A;
                }
            }
            p{
                text-align: left;
                padding: 3.7vw 0 0;
                line-height: 3vw;
                letter-spacing: 0.1vw;
                height: 21vw;
                font-weight: 700;
            }
            & :nth-child(3){
                padding: 0;
                margin: 3vw 0 0;
                height: 13vw;
            }
        }
    }
}

#story{
    width: 100%;
    position: relative;
    .story-top-img{
        width: 100%;
        height: 27vw;
        text-align: center;
        margin: 0 0 10vw;
        img{
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .story-title{
        width: 60vw;
        height: 5vw;
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translateY(0%) translateX(-50%);
        box-shadow: 0 0 10px 15px #f5f5f5;
        background-color: #f5f5f5;
        .story-title-content{
            width: 100%;
            height: 100%;
            position: relative;
            h2{
                text-align: center;
                letter-spacing: 0.5vw;
                span{
                    color: #EA862A;
                    letter-spacing: 0.5vw;
                }
            }
            .story-title-img{
                width: 13vw;
                height: 5vw;
                position: absolute;
                top: 0%;
                left: 10%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .story-inner{
        width: 100%;
        padding: 0 6vw;
        .story-box{
            position: relative;
            width: 100%;
            height: 40vw;
            margin-bottom: 10vw;
            p{
                width: 34vw;
                display: inline-block;
                position: absolute;
                top: 0%;
                left: 7%;
                text-align: center;
                line-height: 5vw;
                letter-spacing: 0.2vw;
                font-weight: 700;
            }
            .story-icon{
                width: 15vw;
                height: 15vw;
                object-fit: cover;
                position: absolute;
                top: 55%;
                left: 16%;
            }
            .story-img{
                width: 34vw;
                height: 38vw;
                object-fit: cover;
                position: absolute;
                top: 0%;
                right: 7%;
            }
        }

    }
}

#mainstorycontent{
    .mainstorycontent-background{
        width: 100%;
        height: 100vh;
        background-image: url("../images/milk.jpg") ;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }
}

#review{
    width: 100%;
    height: auto;
    position: relative;
    .review-title{
        display: inline-block;
        width: 8.4vw;
        position: absolute;
        top: 17.1%;
        left: 13%;
        transform: translateY(-50%) translateX(-50%);
        background-color: #FD7E16;
        z-index: 10;
        h2{
            vertical-align: middle;
            writing-mode: vertical-rl;
            text-orientation: upright;
            letter-spacing: 1.6vw;
            margin: 2vw 2vw 0;
            color: #FFFFFF;
            span{
                color: #101010;
            }
        }
    }
    .review-title-img{
        img{
            width: 100%;
            height: 29vw;
            object-fit: cover;
        }
    }
    .review-content{
        position: relative;
        .review-background{
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .review-content-text{
            width: 47vw;
            display: inline-block;
            line-height: 3.5vw;
            letter-spacing: 0.1vw;
            position: absolute;
            top: 4.7vw;
            left: 50%;
            transform: translateY(0%) translateX(-50%);
            p{
                font-weight:700;
                color: #FFFFFF;
            }
            :nth-child(2){
                padding-top: 3vw;
            }
        }
        .review-singin-img{
            width: 25vw;
            height: 30vw;
            object-fit: contain;
            top: 13%;
            position: absolute;
        }
        .review-hotpant-img{
            width: 15vw;
            height: 15vw;
            object-fit: contain;
            top: 10%;
            right: 8%;
            position: absolute;
        }
    }
}

#clockwork{
    width: 100%;
    height: 50vw;
    position: relative;
    .clockwork-box{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateY(0%) translateX(-50%);
        .clockwork-conten{
            width: 75vw;
            height: 40vw;
            display: inline-block;
            .clockwork-clock{
                width: 100%;
                height: 27vw;
                object-fit: cover;
            }
            .clockwork-text{
                font-family: 'Lobster Two', cursive;
                display: inline-block;
                position: absolute;
                top: 87%;
                left: 35%;
                transform: translateY(-50%) translateX(-50%);
            }
            .clockwork-moloko{
                display: inline-block;
                position: absolute;
                top: 85%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
            .clockwork-footerhuman{
                position: absolute;
                top: 80%;
                left: 70%;
                transform: translateY(-50%) translateX(-50%);
            }
            .clockwork-copy{
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translateY(0%) translateX(-50%);
            }
        }
    }
}

#footer{
    .footer-box{
        .footer-copy{
            text-align: center;
        }
    }
}